body {
    background-image: url(/Webproject/images/OIP.jfif);
    background-repeat: repeat;
    background-position: cover;
    background-size: 100vw 100vh;

}

section{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 10px #108006e7;
    color: rgb(197, 197, 197);
}

body {
    padding: 0px;
margin: 0px;
}

nav {
    background-color: black;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 0 10px #108006e7;
}

nav a {
    border-radius: 20px;
background-color: rgb(211, 211, 211);
text-decoration: none;
color:black;
padding: 10px;

}

nav a:hover {
background-color: #108006e7;
color: white;
padding: 10px;
}

.contact {
display: grid;
padding: 2em;
grid-template-columns: auto auto;

}

.grid-item{
    border: rgba(247, 7, 7, 0.904);
    border-style: dashed;
    align-items: center;
    grid-auto-flow: column;
}

.contact a {
    padding: 2em;
    grid-template-columns: auto auto;
    
}
.text a {
    align-self: center;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(14, 80, 1);
    width: 150px;
}

button a {
    color: white;
}

.test {
    background-color: rgba(26, 90, 0, 0.233);
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
  }