body {
    background-image: url("https://th.bing.com/th/id/OIP.IFwKMkuFQbj10ZC6nmMvhwHaHa?w=169&h=180&c=7&r=0&o=5&pid=1.7com/th/id/OIP.4P6MCIgXJCdfwOpgeaIaHQHaF7?w=252&h=202&c=7&r=0&o=5&pid=1.7 ");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100vw 100vh;

}

section{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 10px #108006e7;
    color: rgb(255, 255, 255);
}

body {
    padding: 0px;
margin: 0px;
}

nav {
    background-color: black;
    text-align: center;
    font-size: 50px;
    box-shadow: 0 0 10px #108006e7;
}

nav a {
    border-radius: 20px;
background-color: rgb(255, 255, 255);
text-decoration: none;
color:black;

}

nav a:hover {
background-color: #108006e7;
color: white;
}

.contact {
display: grid;
padding: 2em;
grid-template-columns: auto auto;

}

.grid-item{
    border: rgba(247, 7, 7, 0.904);
    border-style: dashed;
    align-items: center;
    grid-auto-flow: column;
}

.contact a {
    padding: 2em;
    grid-template-columns: auto auto;
    
}
.text a {
    align-self: center;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(14, 80, 1);
    width: 150px;
}

button a {
    color: white;
}